In [1]:
import pandas as pd

In [2]:
# 2 Main Data Types
Series =  pd.Series(["BMW", "HONDA", "TOYOTA"])

In [3]:
Series

0       BMW
1     HONDA
2    TOYOTA
dtype: object

In [4]:
Colours = pd.Series(["Red", "Green", "Blue"])

In [5]:
#DataFrame (2D Array)
Car_Data = pd.DataFrame({"CarBrand": Series, "CarColor": Colours})

In [6]:
Car_Data

  CarBrand CarColor
0      BMW      Red
1    HONDA    Green
2   TOYOTA     Blue

In [8]:
#ImportData
Car_Sales = pd.read_csv("car-sales.csv")

In [9]:
Car_Sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00